/* Universal Styles */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.blue-color {
  color: #399bd1;
}

img {
  width: 100%;
}

/* Header of the website whith navbar*/
header {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  color: #399bd1;
  background-color: inherit;
}

/* Jumbotron section */
.jumbotron-bike {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url("../images/jumbotron-bike.jpg");
  color: white;
}

.jumbotron-bike h1 {
  padding: 11.85rem 0 0 0;
  font-family: Monoton;
  font-size: 5.7rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#first-child {
  max-width: 51.3rem;
  margin: 0 auto;
}

.jumbotron-bike p:last-child {
  margin: 2.8rem 0 11.85rem 0;
}

.jumbotron-bike a {
  width: 11.4rem;
  margin: 0 auto;
  padding: 1.3rem 0;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.jumbotron a:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.jumbotron a:active{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* Featured project section */
#featured-project h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#featured-project h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

#featured-project ul li {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.4;
}
