/* Universal Styles */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.blue-color {
  color: #399bd1;
}

img {
  width: 100%;
}

.image-container img {
  opacity: 0.7;
}

.container {
  margin: 0 auto;
}

strong {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Header of the website whith navbar*/
header {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  color: #399bd1;
  background-color: inherit;
}

/*Media query - jumbotron*/
@media only screen and (max-width: 767px) {
  .navbar-header {
    display: none;
  }
}

/* Jumbotron section */
.jumbotron-bike {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url("../images/jumbotron-bike.jpg");
  color: white;
}

.jumbotron-bike h1 {
  padding: 11.85rem 0 0 0;
  font-family: Monoton;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#first-child {
  max-width: 51.3rem;
  margin: 0 auto;
}

.jumbotron-bike p:last-child {
  margin: 2.8rem 0 11.85rem 0;
}

.jumbotron-bike a {
  width: 11.4rem;
  margin: 2.8rem 0 11.85rem 0;
  padding: 1.3rem 0;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.jumbotron a:hover,
#trouble a:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.jumbotron a:active,
#trouble a:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/*Media query - jumbotron*/
@media only screen and (max-width: 767px) {
  .jumbotron-bike h1 {
    font-size: 5.7rem;
  }
}

/* Featured project and projects section */
#featured-project h2,
#projects h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#featured-project h3,
#projects h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

#featured-project ul li {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.4;
}

#projects {
  margin-bottom: 5.85rem;
}

/* Trouble section */

#trouble {
  text-align: center;
  background-color: #f3f3f3;
}

#trouble strong {
  padding: 5.2rem 0 1.4rem 0;
}

#trouble p {
  margin: 0 auto;;
  max-width: 42rem;
}

#trouble a {
  width: 11.4rem;
  margin: 1.4rem 0 5.2rem 0;
  padding: 1.3rem 0;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
